@charset "utf-8";
/*===== キャッチコピーの文字が浮き出る ====*/
.slideConts {
  opacity: 0;
}
.slide {
  animation: slideAnime 3s ease forwards;
}
@keyframes slideAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.txt1 {
  animation-delay: 1.5s;
}
.txt2 {
  animation-delay: 2.5s;
}
.txt3 {
  animation-delay: 3.5s;
}

/*========= SVG操作手書き風にするためのCSS ===============*/

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: white;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg {
  width: 2500px;
}
#mask .st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 4.5; /*線の太さを指定する*/
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500; /* 線の間隔を指定する */
  stroke-dashoffset: 1500; /* 線の位置を指定する */
  transition-delay: 0s;
}
#mask2 .st1 {
  fill: none;
  stroke: #fff;
  stroke-width: 4.5; /*線の太さを指定する*/
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500; /* 線の間隔を指定する */
  stroke-dashoffset: 1500; /* 線の位置を指定する */
  transition-delay: 0s;
}
/* =========conceptの横の線 */
/* スクロールダウンの位置 */
.scroll1 {
  width: 1px;
  height: 345px;
}
/* 線のアニメーション部分 */
.scroll1::before {
  display: block;
  animation: scroll1 4s infinite ease-out;
  background-color: #9b9696;

  content: "";
  height: 345px;

  margin: auto;

  width: 1.5px;
  z-index: 2;
}
/* 線の背景色 */
.scroll1::after {
  display: block;
  background-color: #e7e4e4;

  content: "";
  height: 345px;

  margin-top: -345px;

  width: 1.5px;
}
/* 線のアニメーション */
@keyframes scroll1 {
  0% {
    transform: scale(0.1, 0.1);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(0.3, 0.3);
    transform-origin: 0 50%;
  }
  /* 51% {
    transform: scale(0.3, 0.3);
    transform-origin: 0 51%;
  } */
  100% {
    transform: scale(0.1, 0.1);
    transform-origin: 0 100%;
  }
}

/* ====worksのスクロール線のアニメーション==== */
/* スクロールダウンの位置 */
.scroll {
  position: absolute;
  right: 50%;
  margin-top: 55px;
}
/* 線のアニメーション部分 */
.scroll::before {
  animation: scroll 2s infinite;
  background-color: #000;
  bottom: 7px;
  content: "";
  height: 1px;
  left: 60px;
  margin: auto;
  position: absolute;
  right: 0;
  width: 100px;
  z-index: 2;
}
/* 線の背景色 */
.scroll::after {
  background-color: #ccc;
  bottom: 7px;
  content: "";
  height: 1px;
  left: 60px;
  margin: auto;
  position: absolute;
  right: 0;
  width: 100px;
}
/* 線のアニメーション */
@keyframes scroll {
  0% {
    width: 0px;
  }
}

/* ======テキストナビゲーション ====== */
.gnavi li:not(:last-child) a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
.gnavi li:not(:last-child) a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: -10px;
  left: -25%;
  /*線の形状*/
  width: 150%;
  height: 1px;
  background: #d48d95;
  /*アニメーションの指定*/
  transition: all 0.8s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: left top; /*左上基点*/
}
/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li:not(:last-child) a:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}
*/

/*==================================================
共通　横並びのための設定
===================================*/

.gnavi li a {
  display: block;
}

/*==================================================
　5-3-5 左から右に背景が伸びる
===================================*/

/*背景の設定*/
.gnavi li:last-child a {
  /*背景色の基点とするためrelativeを指定*/
  position: relative;
}
.gnavi li:last-child a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  /*背景の形状*/
  width: 0;
  height: 100%;
  background: #d48d95;
  /*アニメーションの指定*/
  transition: all 0.5s;
  opacity: 0; /*はじめは透過0*/
}

/*現在地とhoverの設定*/
.gnavi li:last-child a:hover::after {
  /*背景の形状*/
  width: 100%; /*横幅を伸ばす*/
  opacity: 1; /*不透明に*/
}
.gnavi li:last-child a:hover {
  color: #fff;
}
