@charset "utf-8";
html {
  overflow-x: hidden;
}
.center {
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}
.title {
  font-size: 48px;
  letter-spacing: 0.05em;
}
.subtitle {
  font-size: 21px;
  margin-top: 17px;
}
.works_button,
.aboutme_button,
.toppage_button {
  margin: 140px auto 0;
  width: fit-content;
}
.works_button a,
.aboutme_button a,
.toppage_button a,
.works_all_btn {
  display: block;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 150;
  padding-left: 30px;
}
.works_button_text,
.aboutme_button_text,
.toppage_button_text,
.works_all_text {
  padding-bottom: 8px;
  border-bottom: solid 1px;
}
.works_button span,
.aboutme_button span,
.toppage_button span,
.works_all_btn span {
  position: relative;
  width: 107px;
  height: 107px;
  left: -30px;
  overflow: hidden;
}
.works_button span::before,
.aboutme_button span::before,
.toppage_button span::before,
.works_all_btn span::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #555555;
  transition: 0.3s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.works_button span::after,
.aboutme_button span::after,
.toppage_button span::after,
.works_all_btn span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #555555;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.works_button a:hover,
.aboutme_button a:hover,
.toppage_button a:hover,
.works_all_btn a:hover {
  opacity: 1;
}
.works_button a:hover .works_button_text,
.aboutme_button a:hover .aboutme_button_text,
.toppage_button a:hover .toppage_button_text,
.works_all_btn a:hover .works_all_text {
  border-color: transparent;
}
.works_button a:hover span::before,
.aboutme_button a:hover span::before,
.toppage_button a:hover span::before,
.works_all_btn a:hover span::before {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  background-color: #e1afb5;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.works_button a:hover span::after {
  content: "view more";
  width: auto;
  height: auto;
  color: #fff;
  background-color: transparent;
  padding-bottom: 9px;
  right: -153px;
}
.aboutme_button a:hover span::after {
  content: "and more";
  width: auto;
  height: auto;
  color: #fff;
  background-color: transparent;
  padding-bottom: 9px;
  right: -153px;
}
.toppage_button a:hover span::after {
  content: "Top Page";
  width: auto;
  height: auto;
  color: #fff;
  background-color: transparent;
  padding-bottom: 9px;
  right: -143px;
}
.works_all_btn a:hover span::after {
  content: "制作一覧へ戻る";
  width: auto;
  height: auto;
  color: #fff;
  background-color: transparent;
  padding-bottom: 9px;
  right: -242px;
}
body {
  background-image: url(../images/top_background2-100.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  overflow-x: hidden;
}

.fadein {
  opacity: 0;
  transform: translate(0, 0);
  transition: all 3s;
  &.fadein-bottom {
    transform: translate(0, 30px);
  }
  &.scrollin {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
  }
}

/* ヘッダー */
header {
  background-image: url(../images/top_background1-100.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  position: relative;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 5% 0% 5%;
  box-sizing: border-box;
}
.header_logo {
  z-index: 200;
  font-size: 20px;
}
.pc_header_menu {
  z-index: 150;
}
.pc_header_menu ul {
  display: flex;
  gap: 60px;
}
.pc_header_menu ul li {
  padding: 10px 20px;
}
.gnavi li a:hover,
.gnavi_ft li a:hover {
  opacity: 1;
}
.pc_header_menu ul li:last-child {
  border-radius: 19px;
  border: solid 1px;
  padding: 0;
  overflow: hidden;
}
.pc_header_menu ul li:last-child:has(a:hover) {
  border-color: transparent;
}

.first_view {
  width: 100%;
  height: 100%;
}
.top_wrap {
  height: 100%;
}
.top_works {
  position: absolute;
  bottom: 30%;
  left: 12%;
  margin-left: auto;
  margin-right: auto;
  z-index: 150;
}
.top_works a {
  display: block;
  display: flex;
  align-items: center;
  gap: 12px;
}
.top_works_button {
  padding-bottom: 8px;
  border-bottom: solid 1px;
}
.top_works span {
  position: relative;
  width: 107px;
  height: 107px;
  left: -30px;
  overflow: hidden;
}
.top_works span::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #555555;
  transition: 0.3s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_works span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #555555;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_works a:hover {
  opacity: 1;
}
.top_works a:hover .top_works_button {
  border-color: transparent;
}
.top_works a:hover span::before {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  background-color: #e1afb5;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_works a:hover span::after {
  content: "works";
  width: auto;
  height: auto;
  color: #fff;
  background-color: transparent;
  padding-bottom: 9px;
  right: -94px;
}
.catch_copy,
.catch_copy_lo {
  position: absolute;
  top: 30%;
  right: 40px;
  z-index: 100;
  width: 1160px;
  margin: 0 auto;
}
.catch_copy_lo {
  top: 27%;
}
.catch_copy_main {
  writing-mode: vertical-rl;
  font-size: 75px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  margin: 0 10% 0 auto;
}
.top_background_line {
  position: absolute;
  top: 0%;
  right: -4%;
  width: 2500px;
}
.top_background_line img {
  width: 100%;
}
/* メイン */
.main {
  background-image: url(../images/top_background_left-100.jpg),
    url(../images/top_background_right-100.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: -300px 0px, 200px 2400px;
  margin-top: 270px;
}

/* コンセプト */
.concept {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.concept_text {
  font-size: 24px;
  line-height: 2.91;
}

/* works */

.works {
  position: relative;
  padding-left: 10px;
}

.works_all {
  padding-left: 10px;
  padding-right: 10px;
}
.works_head {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}
.works_title {
  text-align: center;
}
.works_content {
  max-width: 1160px;
  margin: 0 auto;
}
.works_content .swiper {
  overflow: visible;
  padding-bottom: 55px;
}
.swiper-slide {
  background: rgba(212, 141, 149, 0.25);
  border-radius: 30px;
  width: 300px;
}
.works_img {
  background: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
}
.swiper img {
  width: 100%;
}
.swiper h3 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.swiper p {
  margin: 6% 10%;
  text-align: right;
}
.swiper-slide {
  margin-top: 150px;
}
.swiper-button-prev,
.swiper-button-next,
.swiper-scrollbar {
  display: none;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  bottom: 0;
  top: auto;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #000;
}
.works_button {
  margin-top: 200px;
}

/* about me */
.aboutme {
  padding-left: 10px;
  padding-right: 10px;
}
.aboutme_head {
  display: flex;
  flex-direction: column;
  margin-top: 225px;
  align-items: center;
  width: fit-content;
}
.aboutme_wrap {
  margin: 160px auto 0;
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.aboutme_photo {
  width: 410px;
  position: relative;
  z-index: 10;
}
.aboutme_photo img {
  border-radius: 15px;
  width: 100%;
}
.aboutme_description {
  width: 52%;
  background-color: #e1afb5;
  border-radius: 15px;
  margin-left: -30px;
  margin-top: 130px;
  position: relative;
  z-index: 1;
}
.aboutme_text_wrap {
  padding: 25px 0 25px 55px;
  width: 100%;
  box-sizing: border-box;
}
.aboutme_text {
  font-size: 18px;
  line-height: 1.9;
  color: white;
}

/* contact */

.contact {
  position: relative;
  overflow: hidden;
  background-image: url(../images/pc_top_line3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 10%;
  z-index: 100;
}
.contact_head {
  display: flex;
  flex-direction: column;
  margin-top: 225px;
}
.contact_title {
  text-align: center;
}

form {
  padding-left: 10px;
  padding-right: 10px;
}
.contact_description {
  text-align: center;
  margin: 63px auto 113px;
}
.contact_wrap {
  max-width: 100%;

  margin: 0 auto 15px;
  width: fit-content;
}
label {
  display: block;
}
.name {
  margin-bottom: 12px;
}
input:focus-visible,
textarea:focus-visible {
  outline: #e1afb5 auto 3px;
  transition: 0.8s;
}

#name,
#furigana,
#phone,
#email {
  padding-left: 20px;
  margin-top: 12px;
}

input[type="text"],
input[type="furigana"],
input[type="phone"],
input[type="email"] {
  width: 830px;
  height: 60px;
  border-radius: 30px;
  border: solid 1px;
  margin-bottom: 58px;
}
textarea {
  width: 830px;
  height: 330px;
  border-radius: 25px;
  border: solid 1px;
}
#message {
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 12px;
}
.contact_background_line {
  position: absolute;
  top: 4300px;
  right: 0px;
  width: 2500px;
  z-index: 1;
}
.contact_background_line svg {
  width: 100%;
}
.contact_background_line svg image {
  width: 100%;
  transform: translateX(calc((2500px - 100%) / 2));
}

.sp_br {
  display: none;
}
.btn {
  display: block;
  width: 360px;
  height: 74px;
  margin: 93px auto 0;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 37px;
  border: solid 1px;
}
.btn:active,
.btn:hover {
  background: #e1afb5;
  border: none;
  color: #fff;
  transition: 0.8s;
}

/* フッター */
#footer {
  width: 100%;
  margin-top: 325px;
}
.footer_menu {
  margin: 0 auto;
  width: 800px;
  max-width: 50%;
}
.footer_menu ul {
  display: flex;
  gap: 81px;
  justify-content: space-between;
}
small {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 110px;
}
/* ページトップボタン */
.page_top {
  position: fixed;
  right: 10px;
  bottom: 100px;

  transform: rotate(90deg);
  z-index: 200;

  visibility: visible;
}
.page_top span {
  width: 108px;
  height: 108px;
  position: relative;
  overflow: hidden;
  right: -20px;
}
.page_top a {
  display: flex;
  align-items: center;
}
.page_top span::before {
  content: "";
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid;
  transition: 0.3s linear;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.page_top span::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-135deg);
  position: absolute;
  top: 40%;
  left: 46%;
}
.page_top a:hover {
  opacity: 1;
}
.page_top a:hover .pagetop_btn_text {
  border-color: transparent;
}
.page_top a:hover span::before {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  background-color: #e1afb5;
  border: none;
  top: 50%;
  left: 50%;
}
.page_top a:hover span::after {
  content: "page";
  width: auto;
  height: auto;
  color: #fff;
  background-color: transparent;
  border: none;
  transform: rotate(0);
  left: 88px;
}

.pagetop_btn_text {
  padding-bottom: 7px;
}
/* スマホ版メニュー 非表示にする*/
.sp_btn,
.sp_header_menu,
.sp_logo {
  display: none;
}

@media screen and (max-width: 1200px) {
  .contact {
    margin-left: 36px;
    margin-right: 36px;
  }
  .contact_description {
    text-align: left;
    font-size: 14px;
    margin-left: 0;
    line-height: 1.8;
  }
  .contact_head {
    flex-direction: row;
  }
  .contact_wrap {
    width: 80%;
  }

  input[type="text"],
  input[type="furigana"],
  input[type="phone"],
  input[type="email"] {
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 200px;
  }
  .btn {
    width: 60%;
  }
  .page_top {
    right: -35px;
  }
}
@media screen and (max-width: 810px) {
  .concept_text {
    font-size: 3.03797468354vw;
  }
}
@media screen and (max-width: 767px) {
  /* ナビ */
  /* PC版メニュー 非表示にする*/
  .pc_header_menu,
  .pc_logo {
    display: none;
  }
  .sp_btn {
    /* pc版で非表示（display:none）にした要素を表示させるため、 display:blockを入れる。*/
    display: block;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid #555555;
    cursor: pointer;
    /* 画面を基準にして.sp_btnの位置を移動させる。 */
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 300;
  }
  .sp_btn_line span {
    /* spanタグはインライン要素で横幅の指定はできないため、display:blockを入れる。 */
    display: block;
    width: 24px;
    height: 1px;
    background: #555555;

    /* 基準の線を真ん中に持ってくる。今いる場所（sp_btnの一番上）から10px下へ。 */
    position: relative;
    top: 23px;
    left: 12px;
    /* 何秒かけて変化させるか。（０.3秒） */
    transition: 0.3s;
  }
  .sp_btn_line span::before,
  .sp_btn_line span::after {
    /* contentとは、要素の前後に文字や画像を挿入するもの。今回は線を引きたいだけなのでなにも入力しない*/
    content: "";
    display: block;
    width: 24px;
    height: 1px;
    background: #555555;

    /* spanタグの真ん中の線を基準として(spanが親要素になる)、beforeとafterを動かす。（beforeとafterが子要素） */
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn_line span::before {
    /* 真ん中の線を基準として下から上へ。bottom */
    bottom: 10px;
  }
  .sp_btn_line span::after {
    /* 真ん中を基準として上から下へ。top */
    top: 10px;
  }
  /* ボタンををした後のロゴカラー */
  /* .sp_btn.open .sp_logo {
    color: #fff;
  } */
  /* ばつ印 */
  .sp_btn.open {
    border-color: #fff;
  }
  /* sp_btnかつ.open(jQuery)がついている時のspan */
  .sp_btn.open span {
    /* 2本線でばつ印にするため、真ん中の線を一本消す。 
    非表示にするのではなく、背景色を透明にする。*/
    background: transparent;
  }
  .sp_btn.open span::before {
    /* 真ん中を基準に線を回転させるため、上にある線を真ん中に持ってくる */
    bottom: 0;
    /* 45度回転する */
    transform: rotate(45deg);
    background: #fff;
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
    background: #fff;
  }
  /* メニュー */
  /* 画面に覆い重なるように表示させる。 */
  .sp_header_menu {
    /* sp_navを画面の左上に持ってくる */
    position: absolute;
    top: 0;
    left: 0;
    /* 幅と高さの指定*/
    width: 100%;
    /* height:100％だと sp_navの親要素（header）の高さいっぱいの大きさになってしまう。
    そのため100vhにすることで、画面全体に覆い重なるように表示する。（ビューハイト：今開いているブラウザの高さ）*/
    height: 100vh;
    background: rgba(212, 141, 149, 0.8);
    z-index: 170;
  }
  .sp_btn.open .pc_logo {
    display: none;
  }
  .sp_logo {
    display: block;
    font-size: 26px;
    color: #000000;
    position: absolute;
    top: 18px;
    left: 47px;
    z-index: 170;
  }
  .sp_header_menu ul {
    /* 上下中央揃えを簡単にするため。縦並び→横並び（flex）→縦並び（flex-direction:column）にする。 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* ulの高さを親要素（.sp_nav）の高さに合わせる。 */
    height: 100%;
    gap: 50px;
  }
  .sp_header_menu ul li {
    color: #fff;
    font-size: 18px;
    font-family: "Zen Kaku Gothic New", "游ゴシック体", YuGothic, "游ゴシック",
      "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
      sans-serif;
  }
  .sp_h_sns_icon {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 20px;
  }
  .sp_h_sns_icon img {
    width: 22px;
  }
  .catch_copy {
    width: auto;
    right: 70px;
  }
  .catch_copy_lo {
    right: -2%;
  }
  #mask2 {
    display: block;
  }
  .sp_logo {
    font-size: 18px;
    top: 25px;
    left: 30px;
  }
  .catch_copy_main {
    font-size: 45px;
  }
  .top_wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .top_works {
    bottom: 5%;
    width: fit-content;
    box-sizing: border-box;
    position: static;
    padding-left: 58px;
  }
  .top_works a {
    gap: 18px;
  }
  .top_works_button {
    font-size: 14px;
  }

  .top_works span::before {
    width: 60px;
    height: 60px;
  }
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 16px;
  }

  .works_button_text,
  .aboutme_button_text,
  .toppage_button_text {
    font-size: 14px;
  }

  .top_background_line {
    width: 1000px;
  }
  .concept {
    margin-left: 36px;
  }
  .concept_text {
    font-size: 16px;
  }
  .scroll1::after {
    height: 240px;
    margin-top: -240px;
  }
  .scroll1::before {
    height: 240px;
  }
  .scroll1 {
    height: 240px;
  }
  .works {
    margin-left: 36px;
  }
  .works_title {
    text-align: left;
  }
  .works_button span::before,
  .aboutme_button span::before,
  .toppage_button span::before,
  .works_all_btn span::before {
    width: 60px;
    height: 60px;
  }
  .works_button a,
  .aboutme_button a,
  .toppage_button a,
  .works_all_btn {
    gap: 18px;
  }

  .works_button,
  .aboutme_button,
  .toppage_button {
    padding-left: 58px;
  }
  .page_top span::before {
    height: 60px;
    width: 60px;
  }
  .page_top span {
    right: 0px;
  }
  .aboutme {
    margin-left: 36px;
    margin-right: 36px;
  }
  .aboutme_text {
    font-size: 14px;
    line-height: 1.8;
    margin-top: 160px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutme_photo {
    width: 56%;
  }
  .aboutme_photo img {
    border-radius: 10px;
  }
  .aboutme_description {
    width: 80%;
    margin: -150px 0 0 0;
    border-radius: 10px;
  }
  .aboutme_text_wrap {
    padding: 20px;
  }
  .aboutme_wrap {
    flex-direction: column-reverse;
    align-items: center;
  }

  .sp_br {
    display: block;
  }

  .page_top {
    right: -6%;
    bottom: 8%;
  }
  .footer_menu {
    width: 80%;
    max-width: none;
  }
  .footer_menu ul {
    gap: 2%;
  }
}
