@charset "utf-8";
body {
  background-image: url(../images/top_background2-100.jpg),
    url(../images/top_background1-100.jpg);
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-size: 100%, 100%;
}
header {
  background-image: none;
  height: auto;
}
.header_works {
  border-bottom: 1px solid #d48d95;
}
.works_head {
  margin-top: 80px;
}

.works_lay_main {
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  margin-top: 150px;
  padding-bottom: 20px;
  width: fit-content;
  border-bottom: 1px solid;
  font-size: 24px;
  font-weight: 400;
  margin-left: 100px;
}
.details_table {
  width: 745px;
  max-width: 100%;
  height: fit-content;
  background-color: #fbf3f4;
  margin-top: 200px;
  text-align: -webkit-center;
}
.detail {
  display: flex;
  justify-content: space-evenly;
  padding: 22px 4px;
  width: 90%;
  align-items: baseline;
}
.detail:not(:last-child) {
  border-bottom: 1px solid;
}
dt {
  width: 40%;
  text-align: left;
}
dd {
  width: 60%;
  text-align: left;
  line-height: 1.8;
}
.page_selection {
  margin: 140px auto 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.page_selection a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.to_works_all {
  padding-bottom: 8px;
  border-bottom: solid 1px;
}
.before_button,
.after_button {
  padding-bottom: 8px;
  border-bottom: solid 1px;
}

.capture_pc {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
}
.capture_pc img {
  width: 100%;
}
.capture_pc .pc_img {
  width: 500px;
}
.capture_pc .sp_img {
  width: 250px;
}
.works_lay_photo {
  text-align: center;
  margin-top: 50px;
}
.works_lay_photo img {
  width: 80%;
}

@media screen and (max-width: 767px) {
  .details_table {
    background-color: transparent;
    text-align: left;
    margin-top: 70px;
  }
  h3 {
    margin-left: 30px;
    margin-top: 170px;
    font-size: 16px;
  }
  .detail {
    display: block;
    margin: 0 auto;
  }
  .detail:not(:last-child) {
    border-bottom: none;
  }
  .detail dt {
    border-bottom: 1px solid #555;
    width: fit-content;
    padding-bottom: 10px;
  }
  .detail dd {
    width: 100%;
    padding-top: 10px;
  }
  main {
    background-image: none;
  }
  .works_all_text {
    font-size: 12px;
    text-align: center;
  }
  .before_button,
  .after_button {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .works_all_btn {
    padding-left: 0;
  }
}
