@charset "utf-8";
body {
  background-image: url(../images/top_background2-100.jpg),
    url(../images/top_background1-100.jpg);
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-size: 100%, 100%;
  overflow: visible;
}
header {
  background-image: none;
  height: auto;
}
.works_background_line {
  width: 100%; /* 全体幅に自動調整 */
  max-width: 2500px; /* 最大幅を設定 */
  position: absolute;
  top: 300px;
  right: 0;
  overflow: hidden; /* はみ出しを隠す */
  z-index: 1;
}

.works_background_line svg {
  width: 100%; /* 親要素にフィット */
  height: auto;
  overflow: hidden; /* SVG自体のはみ出し防止 */
}

.works_background_line svg image {
  width: 100%; /* 幅をSVGに合わせる */
  transform: translateX(0); /* 中央調整を解除 */
}
.works_head {
  margin-top: 80px;
}
.workspage_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-top: 235px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 100;
}
.workspage_content {
  width: 540px;
  margin-bottom: 66px;
}
.workspage_content img {
  width: 100%;
}
h3 {
  margin-top: 20px;
}
.workspage_flex {
  display: flex;
  gap: 10px;
}
.workspage_wrap p {
  background-color: #d48d95;
  border-radius: 18px;
  color: white;
  width: fit-content;
  padding: 8px 14px;
  margin-top: 15px;
}

@media screen and (max-width: 1200px) {
  .workspage_wrap {
    display: block;
    margin: 235px auto 0;

    width: fit-content;
  }
  .workspage_content {
    width: fit-content;
    padding-bottom: 96px;
  }
  .workspage_content a {
    display: block;
  }
  .workspage_content h3 {
    width: fit-content;
  }
}
@media screen and (max-width: 767px) {
  .workspage_wrap {
    text-align: center;
    width: fit-content;
    display: block;
  }
  .workspage_wrap h3 {
    width: fit-content;
  }
}
